{{> head }}
    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Trafalga Water D Law</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur labore accusamus consectetur minus perferendis unde veritatis! Quisquam sint eveniet ullam inventore illum consequuntur ipsum, officiis error magni dolorem modi aut.</p>
        </div>
        <div class="col-4"> 
            <img src="assets/img/law.jpeg" class="img-thumbnail" alt="">
        </div>
    </div>

{{> footer }}